<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration   PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases><!-- 别名 -->
      <!--<typeAlias alias="role" type="com.learn.ssm.chapter3.pojo.Role"/>-->
      <typeAlias alias="role" type="com.learn.ssm.chapter4.pojo.Role"/>
  </typeAliases>
  <!-- 数据库环境 -->
  <typeHandlers>
      <typeHandler javaType="string" jdbcType="VARCHAR" handler="com.learn.ssm.chapter4.typehandler.MyTypeHandler"/>
      <!--<package name="com.learn.ssm.chapter4.typehandler"/>-->
  </typeHandlers>
  <objectFactory type="com.learn.ssm.chapter4.objectfactory.MyObjectFactory">
      <property name="prop1" value="value1"/>
  </objectFactory>
  <!--<environments default="development">-->
    <!--<environment id="development">-->
      <!--<transactionManager type="JDBC"/>-->
      <!--<dataSource type="POOLED">-->
        <!--<property name="driver" value="com.mysql.jdbc.Driver"/>-->
        <!--<property name="url" value="jdbc:mysql://localhost:3306/chapter4"/>-->
        <!--<property name="username" value="root"/>-->
        <!--<property name="password" value="root"/>-->
      <!--</dataSource>-->
    <!--</environment>-->
  <!--</environments>-->
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${database.driver}"/>
        <property name="url" value="${database.url}"/>
        <property name="username" value="${database.username}"/>
        <property name="password" value="${database.password"/>
      </dataSource>
    </environment>
  </environments>
  <!-- 映射文件 -->
  <mappers>
    <mapper resource="com/learn/ssm/chapter3/mapper/RoleMapper.xml"/>
    <mapper resource="com/learn/ssm/chapter4/mapper/RoleMapper.xml"/>
    <mapper resource="com/learn/ssm/chapter4/mapper/UserMapper.xml"/>
    <!--<mapper class="com.learn.ssm.chapter3.mapper.RoleMapper2"/> -->
  </mappers>
</configuration>